:root {
  color-scheme: light dark;

  --color-bg: light-dark(oklch(90% 0 none), oklch(20% 0 none));
  --color-fg: light-dark(#111111, #ffffff);
  --color-primary: oklch(70% 0.18 306);
  --color-muted: light-dark(#6b7280, #9ca3af);
}